.container-hidden{
    background-color: bisque;
    width: 300px;
    height: 100px;
    padding: 15px;
    overflow: hidden;
}

.container-scroll{
    background-color: bisque;
    width: 300px;
    height: 100px;
    padding: 15px;
    overflow: scroll;
}

.container-visible{
    background-color: bisque;
    width: 300px;
    height: 100px;
    padding: 15px;
    /* Por defecto */
    overflow: visible; 
    margin: 15px 0px;
}

.container-auto{
    background-color: bisque;
    width: 300px;
    height: 100px;
    padding: 15px;
    /* Por defecto */
    overflow: auto; 
}